* {
  padding: 0;
  margin: 0;
}
.container {
  width: 1240px;
  margin: 20px auto;
  text-align: center;
}
.title {
  color: dodgerblue;
}
.name {
  margin: 20px 10px;
}
.img {
  width: 30px;
  margin-right: 20px;
}
.form {
  width: 800px;
  text-align: left;
  margin: auto;
}
.info {
  margin-left: 50px;
}
